<section>

  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-6">
        <div class="container-fluid">

          <!--Video selection row-->
          <div class="rr-workshops-playback-controls row">
            <div class="rr-workshops-playback-controls col-xs-1">
              <span class="glyphicon glyphicon-chevron-left"></span>
            </div>
            <div class="col-xs-10">
              <div ng-repeat="workshop in vm.workshops | filter: {type: 'Online course'} | limitTo: 4" class="col-xs-3">
                <ng-youtube-embed url="workshop.video_url"
                                  color="white"
                                  autohide="true"
                                  showinfo="false"
                                  width="100%"
                                  height="60px"
                                  style="z-index:-1"
                ></ng-youtube-embed>
              </div>
            </div>
            <div class="col-xs-1 rr-workshops-playback-controls">
              <span class="glyphicon glyphicon glyphicon-chevron-right"></span>
            </div>
          </div>

          <!--Overlay layer for catching mouse events-->
          <div class="container-fluid rr-workshops-vertical-overlay">
            <div class="row">
              <div class="col-xs-1 rr-clickable" ng-click="vm.prevClicked()"></div>
              <div class="col-xs-10">
                <div class="container-fluid">
                  <div class="rr-workshops-playback-controls row">
                    <div ng-repeat="_ in [0, 1, 2, 3]" class="rr-clickable col-xs-3"
                         ng-click="vm.videoClicked($index); $event.stopPropagation()"
                         ng-style="vm.getOverlayStyle($index)">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-1 rr-clickable" ng-click="vm.nextClicked()"></div>
            </div>
          </div>

          <!--Main video playback section-->
          <div class="container-fluid">
            <div class="row">
              <div class="col-xs-12">
                <ng-youtube-embed ng-if="vm.getOnlineCourse(vm.currentIndex).video_url" url="vm.getOnlineCourse(vm.currentIndex).video_url" width="100%"
                                  color="white"
                                  autohide="true"
                                  showinfo="false"
                ></ng-youtube-embed>
                <div class="text-center">
                  <div class="btn-group btn-group-lg" role="group">
                    <button type="button" class="rr-workshops-playback-controls btn btn-default"
                            aria-label="Previous video"
                            ng-click="vm.prevClicked()">
                      Previous
                    </button>
                    <button type="button" class="rr-workshops-playback-controls btn btn-default"
                            aria-label="Next video"
                            ng-click="vm.nextClicked()">
                      Next
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="col-xs-6">
        <div class="row">
          <h1 class="text-center">Workshops nearby</h1>
          <ui-gmap-google-map ng-if="vm.workshops.$resolved" center='vm.map.center' zoom='vm.map.zoom'>
            <ui-gmap-marker ng-repeat="workshop in vm.workshops | filter: {type: 'Workshop'}"
                            coords="workshop.marker.coords" idkey="$index">
            </ui-gmap-marker>
          </ui-gmap-google-map>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <ul>
              <li ng-repeat="workshop in vm.workshops | filter:{type: 'Workshop'}">
                <a ng-href="{{workshop.url}}">{{workshop.title}}</a> - <i>{{workshop.location}}</i>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="alert alert-warning text-center" ng-if="vm.workshops.$resolved && !vm.workshops.length">
    Loading... Please wait.
  </div>
</section>
