<section>

  <div class="container" ng-click="vm.videoClicked('0')">
    <div class="row">
      <div class="col-xs-6">
        <div class="row">
          <div ng-repeat="workshop in vm.workshops | limitTo: 4" class="col-xs-3">
            <ng-youtube-embed url="workshop.video_url"
                              color="white"
                              autohide="true"
                              showinfo="false"
                              width="100%"
                              height="60px"></ng-youtube-embed>
          </div>
          <div ng-repeat="_ in [0, 1, 2, 3]" class="col-xs-3"
               ng-click="vm.videoClicked($index); $event.stopPropagation()"
               ng-style="vm.getOverlayStyle($index)">
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <ng-youtube-embed url="vm.currentVideoURL" width="100%"></ng-youtube-embed>
            <div class="text-center">
              <div class="btn-group btn-group-lg" role="group">
                <button type="button" class="rr-btn-playback btn btn-default" aria-label="Previous video">Previous</button>
                <button type="button" class="rr-btn-playback btn btn-default" aria-label="Next video">Next</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="row">
          <p>Google Map</p>
          <ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <h3>Workshops nearby</h3>
            <ul>
              <li><a href="#">How to format your CV like a Boss</a></li>
              <li><a href="#">Tips and Tricks on writing a CV that stands out</a></li>
              <li><a href="#">International job applications</a></li>
              <li><a href="#">Latest research on job application stats</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="alert alert-warning text-center" ng-if="vm.workshops.$resolved && !vm.workshops.length">
    Loading... Please wait.
  </div>
</section>
