<section ng-controller="CustomSectionPanelCtrl as cspCtrl" ng-init="cspCtrl.init(vm.cv, vm.active)">
  <form name="cspForm" ng-submit="cspCtrl.addSection()">
    <div class="form-group" ng-class="{ 'has-error': cspForm.newSectionName.$invalid && cspForm.newSectionName.$dirty }">
      <label class="control-label">Section name</label>
      <input type="text" class="form-control" name="newSectionName" ng-model="cspCtrl.newSectionName" placeholder="Hobbies & Interests" required>
    </div>
    <button type="submit" class="btn btn-primary" aria-label="Add section">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add section
    </button>
  </form>
</section>