<section ng-controller="CVManagementPanelCtrl as cvmpCtrl" ng-init="cvmpCtrl.init(vm.cv)">
  <form name="cvmpForm" ng-submit="csCtrl.addSection()">
    <label class="control-label">CV process</label>
    <uib-progressbar animate="true" value="cvmpCtrl.progress" type="{{cvmpCtrl.progressType}}"><b>{{cvmpCtrl.progress}}%</b></uib-progressbar>
    <div class="form-group" ng-class="{ 'has-error': cvmpForm.cvTitle.$invalid && cvmpForm.cvTitle.$dirty }">
      <label class="control-label">CV title</label>
      <input type="text" class="form-control" name="cvTitle" ng-model="cvmpCtrl.cv.title" placeholder="Application for CIO of Google" required>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-default" aria-label="Save" ng-click="cvmpCtrl.save()">
      <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Save
      </button>
      <button type="button" class="btn btn-default" aria-label="Preview" ng-click="cvmpCtrl.openModal('lg')">
      <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Preview
      </button>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-default" aria-label="Delete" ng-click="cvmpCtrl.remove()">
      <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
      </button>
    </div>
  </form>
</section>