<section ng-controller="CVManagementCtrl as cvmCtrl" ng-init="cvmCtrl.init(vm.cv)">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">CV management</h4>
    </div>
    <div class = "panel-body">
      <small><em>Progress of your CV</em></small>
      <uib-progressbar animate="true" value="cvmCtrl.progress" type="default"><b>{{cvmCtrl.progress}}%</b></uib-progressbar>
      <div class="input-group">
        <span class="input-group-addon">CV title</span>
        <input type="text" class="form-control" placeholder="CV title" ng-model="cvmCtrl.cv.title">
      </div>
      <div>
        <h5><span class="label label-default">e.g. Application for CIO of Google</span></h5>
      </div>
      <br>
    	<div class="btn-group">
        <button type="button" class="btn btn-default" aria-label="Save" ng-click="cvmCtrl.save()">
          <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Save
        </button>
        <button type="button" class="btn btn-default" aria-label="Preview" ng-click="cvmCtrl.openModal('lg')">
          <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Preview
        </button>
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn-default" aria-label="Delete" ng-click="cvmCtrl.remove()">
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
        </button>
    	</div>
    </div>
  </div>
</section>