<section>
  <div class="page-header">
	  <h1><i>ReCVer</i></h1>
  </div>
  <!-- Page Content -->
  <div class="row">

      <!-- Heading Row -->
      <div class="row well well-lg">
          <!-- /.col-md-8 -->
          <div class="col-lg-12 text-center">
            <div class="col-md-8 col-md-offset-2">
              <h1>Create and manage your CVs</h1>
            </div>
            <div class="col-md-8 col-md-offset-2">
              <h3><small><em>ReCVer is a comprehensive <mark>all-­in-­one web solution</mark> to help job seekers create and manage their CVs with built­-in guidelines and help of experts.</em></small></h3>
              <br>
              <button type="button" class="btn btn-primary btn-lg" ui-sref="cvs.create()">Create my CV!</button>
            </div>
          </div>
          <!-- /.col-md-4 -->
      </div>
      <!-- /.row -->
      <hr>
      <!-- Content Row -->
      <div class="row text-center">
          <div class="col-md-4">
              <h3 class="well">Free and premium templates</h3>
              <p>The service allows you to easily create <mark>personalized CVs</mark>, i.e. those CVs that are responsive to your individual needs. Customizing CV to the opportunity you as job seeker are applying for will increase your chances of scoring the initial interview.</p>
          </div>
          <!-- /.col-md-4 -->
          <div class="col-md-4">
              <h3 class="well">Built­-in guidelines</h3>
              <p>You can either explore the <mark>helping section</mark> or get <mark>individual hints</mark> on how to write your CV in a proper way. The tool is specifically designed for job seekers and is aimed to help them on their way to successfully writing their CVs.</p>
          </div>
          <!-- /.col-md-4 -->
          <div class="col-md-4">
              <h3 class="well">Workshops for further improvement</h3>
              <p>You can browse through a wide offering of <mark>online courses</mark>, <mark>video tutorials</mark>, or subscribe to upcoming <mark>webinars</mark>, which elaborate on how to make your CV more appealing to the potential employer.</p>
          </div>
          <!-- /.col-md-4 -->
      </div>
      <!-- /.row -->
  </div>
</section>
