<section>
  <div class="page-header">
	  <h1><i>ReCVer</i></h1>
  </div>
  <!-- Page Content -->
  <div class="container">

      <!-- Heading Row -->
      <div class="row">
          <!-- /.col-md-8 -->
          <div class="col-lg-12 text-center">
              <h1>Create and manage your CVs</h1>
              <p>ReCVer is a comprehensive all-­in-­one web solution to help job seekers create and manage their CVs with built­-in guidelines and help of experts.</p>
              <button type="button" class="btn btn-primary btn-lg" ui-sref="cvs.create()">Create my CV!</button>
          </div>
          <!-- /.col-md-4 -->
      </div>
      <!-- /.row -->
      <hr>
      <!-- Content Row -->
      <div class="row">
          <div class="col-md-4">
              <h2>Free and premium templates</h2>
              <p>The service allows you to easily create personalized CVs, i.e. those CVs that are responsive to your individual needs. Customizing CV to the opportunity you as job seeker are applying for will increase your chances of scoring the initial interview.</p>
              <a class="btn btn-default" href="#">More Info</a>
          </div>
          <!-- /.col-md-4 -->
          <div class="col-md-4">
              <h2>Built­-in guidelines</h2>
              <p>You can either explore the helping section or get individual hints on how to write your CV in a proper way. The tool is specifically designed for job seekers and is aimed to help them on their way to successfully writing their CVs.</p>
              <a class="btn btn-default" href="#">More Info</a>
          </div>
          <!-- /.col-md-4 -->
          <div class="col-md-4">
              <h2>Workshops for further improvement </h2>
              <p>You can browse through a wide offering of online courses, video tutorials, or subscribe to upcoming webinars, which elaborate on how to make your CV more appealing to the potential employer.</p>
              <a class="btn btn-default" href="#">More Info</a>
          </div>
          <!-- /.col-md-4 -->
      </div>
      <!-- /.row -->
  </div>
</section>
