<section>
  <div class="container">
    <div ng-repeat="section in pcvCtrl.cv.content.sections">
      <div ng-if="section.name=='Personal details'">
        <h3>Personal details</h3>
        <hr>
        <div ng-init="entry=section.content.entries[0]">
          <div ng-if="!pcvCtrl.isEntryEmpty(entry)">
            <div ng-if="!pcvCtrl.isPropertyEmpty(entry.content.fullName)">
              <div class="row">
                <div class="col-md-3 col-md-offset-1">
                  <h4>Full name: </h4>
                </div>
                <div class="col-md-7 col-md-offset-1">
                  <h4>{{entry.content.fullName}}</h4>
                </div>
              </div>
            </div>
            <div ng-if="!pcvCtrl.isPropertyEmpty(entry.content.streetAddress) || !pcvCtrl.isPropertyEmpty(entry.content.postalCode) || !pcvCtrl.isPropertyEmpty(entry.content.city) || !pcvCtrl.isPropertyEmpty(entry.content.country)">
              <div class="row">
                <div class="col-md-3 col-md-offset-1">
                  <h4>Residence: </h4>
                </div>
                <div class="col-md-7 col-md-offset-1">
                  <h4><span ng-if="!pcvCtrl.isPropertyEmpty(entry.content.streetAddress)">{{entry.content.streetAddress}}</span> <span ng-if="!pcvCtrl.isPropertyEmpty(entry.content.postalCode)">{{entry.content.postalCode}}</span> <span ng-if="!pcvCtrl.isPropertyEmpty(entry.content.city)">{{entry.content.city}}</span> <span ng-if="!pcvCtrl.isPropertyEmpty(entry.content.country)">{{entry.content.country}}</span></h4>
                </div>
              </div>
            </div>
            <div ng-if="!pcvCtrl.isPropertyEmpty(entry.content.phoneNumber)">
              <div class="row">
                <div class="col-md-3 col-md-offset-1">
                  <h4>Phone number: </h4>
                </div>
                <div class="col-md-7 col-md-offset-1">
                  <h4>{{entry.content.phoneNumber}}</h4>
                </div>
              </div>
            </div>
            <div ng-if="!pcvCtrl.isPropertyEmpty(entry.content.emailAddress)">
              <div class="row">
                <div class="col-md-3 col-md-offset-1">
                  <h4>E-Mail address: </h4>
                </div>
                <div class="col-md-7 col-md-offset-1">
                  <h4><a href="#">{{entry.content.emailAddress}}</a></h4>
                </div>
              </div>
            </div>
            <div ng-if="!pcvCtrl.isPropertyEmpty(entry.content.website)">
              <div class="row">
                <div class="col-md-3 col-md-offset-1">
                  <h4>Website: </h4>
                </div>
                <div class="col-md-7 col-md-offset-1">
                  <h4><a href="#">{{entry.content.website}}</a></h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div ng-if="section.name=='Work experience'">
        <h3>Work experience</h3>
        <hr>
        <div ng-repeat="entry in section.content.entries">
          <div ng-if="!pcvCtrl.isEntryEmpty(entry)">
            <div ng-if="!pcvCtrl.isPropertyEmpty(entry.content.startDate) && !pcvCtrl.isPropertyEmpty(entry.content.endDate) && !pcvCtrl.isPropertyEmpty(entry.content.jobTitle)">
              <div class="row">
                <div class="col-md-3 col-md-offset-1">
                  <h4>{{entry.content.startDate}} - {{entry.content.endDate}}</h4>
                </div>
                <div class="col-md-7 col-md-offset-1">
                  <h4>{{entry.content.jobTitle}} <span ng-if="!pcvCtrl.isPropertyEmpty(entry.content.companyName)">at {{entry.content.companyName}}</span></h4>
                  <div ng-if="!pcvCtrl.isPropertyEmpty(entry.content.otherInfo)">
                    <!-- Here problem -->
                    <div ng-bind-html="entry.content.otherInfo">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>