<section>
    <p>
    <div class="row">
      <div class="col-md-6">
        <div class="input-group">
          <span class="input-group-addon">Course title</span>
          <input type="text" class="form-control" placeholder="Master of Science" ng-model="mEntry.entry.content.courseTitle">
        </div>
      </div>
      <div class="col-md-6">
        <div class="input-group">
          <span class="input-group-addon">Institution name</span>
          <input type="text" class="form-control" placeholder="Oxford University" ng-model="mEntry.entry.content.institutionName">
        </div>
      </div>
    </div>
    </p>
    <div class="row">
      <div class="col-md-6">
        <div class="input-group" name="startdate-input-group">
          <span class="input-group-addon">Start date</span>
          <input type="text" class="form-control" placeholder="01-April-2015" ng-model="mEntry.entry.content.startDate">
        </div>
      </div>
      <div class="col-md-6">
        <div class="input-group" name="enddate-input-group">
          <span class="input-group-addon">End date</span>
          <input type="text" class="form-control" placeholder="01-April-2016" ng-model="mEntry.entry.content.endDate">
        </div>
      </div>
    </div>
    <br>
    <div class="form-group">
      <div ng-controller="TinyMCECtrl as tmceCtrl">
        <textarea id="tinymce" ui-tinymce="tmceCtrl.tinymceOptions" name="otherInfo" ng-model="mEntry.entry.content.otherInfo" class="form-control" cols="30" rows="12" placeholder="Other information"></textarea>
      </div>
    </div>
  <p align="left">
  <div class="btn-group">
    <button type="button" class="btn btn-default" aria-label="Move down" ng-click="esCtrl.moveMEntryDown(mEntry)" ng-disabled="mEntry.isLast">
      <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
    </button>
    <button type="button" class="btn btn-default" aria-label="Move up" ng-click="esCtrl.moveMEntryUp(mEntry)" ng-disabled="mEntry.isFirst">
      <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
    </button>
    <button type="button" class="btn btn-default" aria-label="Remove" ng-click="esCtrl.removeMEntry(mEntry)">
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Remove
    </button>
  </div>
  </p>
  <hr>
</section>
