<div>
  <p>
  <div class="row">
    <div class="col-md-6">
      <div class="input-group">
        <span class="input-group-addon">Full name</span>
        <input type="text" class="form-control" placeholder="Max Mustermann" ng-model="currentSection.content.fullName">
      </div>
    </div>
    <div class="col-md-6">
      <div class="input-group">
        <span class="input-group-addon">E-mail address</span>
        <input type="text" class="form-control" placeholder="max-m@gmail.com" ng-model="currentSection.content.emailAddress">
      </div>
    </div>
  </div>
  </p>
  <p>
  <div class="row">
    <div class="col-md-6">
      <div class="input-group">
        <span class="input-group-addon">Phone number</span>
        <input type="text" class="form-control" placeholder="(+49) 171 123 4567" ng-model="currentSection.content.phoneNumber">
      </div>
    </div>
    <div class="col-md-6">
      <div class="input-group">
        <span class="input-group-addon">Website</span>
        <input type="text" class="form-control" placeholder="www.max-m.de" ng-model="currentSection.content.website">
      </div>
    </div>
  </div>
  </p>
  <hr>
  <p>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-6">
            <div class="input-group">
              <span class="input-group-addon">Street address</span>
              <input type="text" class="form-control" placeholder="Arcisstraße 21" ng-model="currentSection.content.streetAddress">
            </div>
          </div>
          <div class="col-md-6">
            <div class="input-group">
              <span class="input-group-addon">Postal code</span>
              <input type="text" class="form-control" placeholder="80333" ng-model="currentSection.content.postalCode">
            </div>
          </div>
        </div>
        </p>
        <p>
        <div class="row">
          <div class="col-md-6">
            <div class="input-group">
              <span class="input-group-addon">City</span>
              <input type="text" class="form-control" placeholder="Munich" ng-model="currentSection.content.city">
            </div>
          </div>
          <div class="col-md-6">
            <div class="input-group">
              <span class="input-group-addon">Country</span>
              <country-select cs-priorities="AU, DE, GB, US" ng-model="currentSection.content.country"></country-select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </p>
</div>