<div>
  <p>
  <div class="row">
    <div class="col-md-6">
      <input type="text" class="form-control" placeholder="Full name" ng-model="currentSection.content.fullName">
      <div ng-show="showHints">
        <h5><span class="label label-default">e.g. Max Mustermann</span></h5>
      </div>
    </div>
    <div class="col-md-6">
      <input type="text" class="form-control" placeholder="E-mail address" ng-model="currentSection.content.emailAddress">
      <div ng-show="showHints">
        <h5><span class="label label-default">e.g. max-m@gmail.com</span></h5>
      </div>
    </div>
  </div>
  </p>
  <p>
  <div class="row">
    <div class="col-md-6">
      <input type="text" class="form-control" placeholder="Phone number" ng-model="currentSection.content.phoneNumber">
      <div ng-show="showHints">
        <h5><span class="label label-default">e.g. 0123-456-789</span></h5>
      </div>
    </div>
    <div class="col-md-6">
      <input type="text" class="form-control" placeholder="Website" ng-model="currentSection.content.website">
      <div ng-show="showHints">
        <h5><span class="label label-default">e.g. max-m.com</span></h5>
      </div>
    </div>
  </div>
  </p>
  <hr>
  <p>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-6">
            <input type="text" class="form-control" placeholder="Street address" ng-model="currentSection.content.streetAddress">
            <div ng-show="showHints">
              <h5><span class="label label-default">e.g. Arcisstraße 21</span></h5>
            </div>
          </div>
          <div class="col-md-6">
            <input type="text" class="form-control" placeholder="Postal code" ng-model="currentSection.content.postalCode">
            <div ng-show="showHints">
              <h5><span class="label label-default">e.g. 80333</span></h5>
            </div>
          </div>
        </div>
        </p>
        <p>
        <div class="row">
          <div class="col-md-6">
            <input type="text" class="form-control" placeholder="City" ng-model="currentSection.content.city">
            <div ng-show="showHints">
              <h5><span class="label label-default">e.g. Munich</span></h5>
            </div>
          </div>
          <div class="col-md-6">
            <input type="text" class="form-control" placeholder="Country" g-model="currentSection.content.country">
            <div ng-show="showHints">
              <h5><span class="label label-default">e.g. Germany</span></h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </p>
</div>