<div>
  <p>
  <div class="row">
    <div class="col-md-6">
      <label for="fullname-input">Full name</label>
      <input type="text" class="form-control" placeholder="Enter your full name" name="fullname-input" ng-model="currentSection.content.fullName">
    </div>
    <div class="col-md-6">
      <label for="emailaddress-input">E-mail address</label>
      <input type="text" class="form-control" placeholder="Enter your e-mail address" name="emailaddress-input" ng-model="currentSection.content.emailAddress">
    </div>
  </div>
  </p>
  <p>
  <div class="row">
    <div class="col-md-6">
      <label for="phonenumber-input">Phone number</label>
      <input type="text" class="form-control" placeholder="Enter your phone number" name="phonenumber-input" ng-model="currentSection.content.phoneNumber">
    </div>
    <div class="col-md-6">
      <label for="website-input">Website</label>
      <input type="text" class="form-control" placeholder="Enter your website" name="website-input" ng-model="currentSection.content.website">
    </div>
  </div>
  </p>
  <hr>
  <p>
  <div class="row">
    <div class="col-md-6">
      <label for="addressline1-input">Address line 1</label>
      <input type="text" class="form-control" placeholder="Enter your address" name="addressline1-input" ng-model="currentSection.content.addressLine1">
    </div>
    <div class="col-md-6">
      <label for="addressline2-input">Address line 2</label>
      <input type="text" class="form-control" placeholder="Enter your address" name="addressline2-input" ng-model="currentSection.content.addressLine2">
    </div>
  </div>
  </p>
</div>