<div ng-controller="WorkExperienceSectionCtrl">
  <p>
  <div class="row">
    <div class="col-md-6">
      <input type="text" class="form-control" placeholder="Job title" ng-model="entry.jobTitle">
      <div ng-show="showHints">
        <h5><span class="label label-default">e.g. Chief Information Officer</span></h5>
      </div>
    </div>
    <div class="col-md-6">
      <input type="text" class="form-control" placeholder="Company name" ng-model="entry.companyName">
      <div ng-show="showHints">
        <h5><span class="label label-default">e.g. Apple</span></h5>
      </div>
    </div>
  </div>
  </p>
  <p>
  <div ng-controller="DatepickerPopupCtrl">
    <div class="row">
      <div class="col-md-6">
        <p class="input-group">
          <input type="text" placeholder="Start date" class="form-control" uib-datepicker-popup="{{format}}" ng-model="entry.startDate" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" placeholder="Enter start date"/>
          <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="open1()">
          <i class="glyphicon glyphicon-calendar"></i>
          </button>
          </span>
        </p>
        <div ng-show="showHints">
          <h5><span class="label label-default">from e.g. 01-April-2015</span></h5>
        </div>
      </div>
      <div class="col-md-6">
        <p class="input-group" name="enddate-input-group">
          <input type="text" placeholder="End date" class="form-control" uib-datepicker-popup="{{format}}" ng-model="entry.endDate" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" placeholder="Enter start date"/>
          <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="open2()">
          <i class="glyphicon glyphicon-calendar"></i>
          </button>
          </span>
        </p>
        <div ng-show="showHints">
          <h5><span class="label label-default">to e.g. 01-April-2016</span></h5>
        </div>
      </div>
    </div>
  </div>
  </p>
  <p>
  <div class="form-group">
    <textarea id="tinymce" ui-tinymce="tinymceOptions" ng-model="entry.otherInfo" class="form-control" cols="30" rows="12" placeholder="Other information"></textarea>
  </div>
  </p>
</div>
<p align="left">
<div class="btn-group">
  <button type="button" class="btn btn-default" aria-label="Move down" ng-click="currentSection.content.moveEntryDown(entry)" ng-disabled="entry.isLast">
    <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
  </button>
  <button type="button" class="btn btn-default" aria-label="Move up" ng-click="currentSection.content.moveEntryUp(entry)" ng-disabled="entry.isFirst">
    <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
  </button>
  <button type="button" class="btn btn-default" aria-label="Remove" ng-click="currentSection.content.removeEntry(entry)">
    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Remove
  </button>
</div>
</p>
<hr>