<div ng-controller="WorkExperienceSectionCtrl">
  <p>
  <div class="row">
    <div class="col-md-6">
      <div class="input-group">
        <span class="input-group-addon">Job title</span>
        <input type="text" class="form-control" placeholder="CIO" ng-model="entry.jobTitle">
      </div>
    </div>
    <div class="col-md-6">
      <div class="input-group">
        <span class="input-group-addon">Company name</span>
        <input type="text" class="form-control" placeholder="Apple" ng-model="entry.companyName">
      </div>
    </div>
  </div>
  </p>
  <p>
  <div ng-controller="DatepickerPopupCtrl">
    <div class="row">
      <div class="col-md-6">
        <div class="input-group">
          <span class="input-group-addon">Start date</span>
          <input type="text" placeholder="01-April-2015" class="form-control" uib-datepicker-popup="{{format}}" ng-model="entry.startDate" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats"/>
          <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="open1()">
          <i class="glyphicon glyphicon-calendar"></i>
          </button>
          </span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="input-group" name="enddate-input-group">
          <span class="input-group-addon">End date</span>
          <input type="text" placeholder="01-April-2016" class="form-control" uib-datepicker-popup="{{format}}" ng-model="entry.endDate" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats"/>
          <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="open2()">
          <i class="glyphicon glyphicon-calendar"></i>
          </button>
          </span>
        </div>
      </div>
    </div>
  </div>
  </p>
  <p>
  <div class="form-group">
    <textarea id="tinymce" ui-tinymce="tinymceOptions" ng-model="entry.otherInfo" class="form-control" cols="30" rows="12" placeholder="Other information"></textarea>
  </div>
  </p>
</div>
<p align="left">
<div class="btn-group">
  <button type="button" class="btn btn-default" aria-label="Move down" ng-click="currentSection.content.moveEntryDown(entry)" ng-disabled="entry.isLast">
    <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
  </button>
  <button type="button" class="btn btn-default" aria-label="Move up" ng-click="currentSection.content.moveEntryUp(entry)" ng-disabled="entry.isFirst">
    <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
  </button>
  <button type="button" class="btn btn-default" aria-label="Remove" ng-click="currentSection.content.removeEntry(entry)">
    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Remove
  </button>
</div>
</p>
<hr>