<section>
  <div class="page-header">
    <h1>Daniel has been here!...</h1>
  </div>
  <div class="list-group">
    <a data-ng-repeat="tip in vm.tips"
       data-ui-sref="tips.view({ tipId: tip._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span data-ng-bind="tip.created | date:'mediumDate'"></span>
        by
        <span data-ng-if="tip.user" data-ng-bind="tip.user.displayName"></span>
        <span data-ng-if="!tip.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" data-ng-bind="tip.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="vm.tips.$resolved && !vm.tips.length">
    No Tips yet, why don't you <a data-ui-sref="tips.create">create one</a>?
  </div>
</section>
