<section>
  <div class="page-header">
    <h1>Tips</h1>
  </div>
  <div class="list-group">
    <a data-ng-repeat="tip in vm.tips"
       data-ui-sref="tips.view({ tipId: tip._id })"
       class="list-group-item">
      <small class="list-group-item-text">


      </small>
      <h4 class="list-group-item-heading" data-ng-bind="tip.title"></h4>
      <p ng-bind-html="tip.content"></p>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="vm.tips.$resolved && !vm.tips.length">
    No Tips yet, why don't you <a data-ui-sref="tips.create">create one</a>?
  </div>
</section>
