<section ng-controller="EducationSectionCtrl as esCtrl" ng-init="esCtrl.init(vm.active.section)">
  <div ng-repeat="mEntry in esCtrl.mEntries">
    <div ng-include="'/modules/cvs/client/views/entries/education.entry.view.html'">
      {% block content %}{% endblock %}
    </div>
  </div>

  <button type="submit" class="btn btn-info" aria-label="Create new entry" ng-click="esCtrl.addMEntry()">

    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New entry
  </button>



</section>
