<section ng-controller="PersonalProfileSectionCtrl as ppsCtrl" ng-init="ppsCtrl.init(vm.active.section)">
  <h5><span class="label label-info">Custom information</span></h5>
  <div class="well">
    <form name="ppsForm">


      <div class="row">
        <div class="col-md-6">
          <div class="form-group" ng-class="{ 'has-error': ppsForm.jobTitle.$invalid && ppsForm.jobTitle.$dirty }">
            <label class="control-label">Job title</label>
            <a href="#" data-toggle="popover" title="Personal Details" data-content="Just add the job title you want to apply here and maybe a short summary needed (like when it is available or specific codes for the application given from the HR department or homepage).">Tips</a>




            <input type="text" class="form-control" name="jobTitle" ng-model="ppsCtrl.entryContent.jobTitle" placeholder="Chief Information Officer" required>
          </div>
        </div>
      </div>
      <div class="form-group" ng-class="{ 'has-error': ppsForm.customInfo.$invalid && ppsForm.customInfo.$dirty }">
        <label class="control-label">Custom information</label>
        <div ng-controller="TinyMCECtrl as tmceCtrl">
          <textarea id="tinymce" ui-tinymce="tmceCtrl.tinymceOptions" name="customInfo" ng-model="ppsCtrl.entryContent.customInfo" class="form-control" cols="30" rows="12" placeholder="Content"></textarea>
        </div>
      </div>
    </form>
  </div>
</section>
