<section ng-controller="WorkExperienceSectionCtrl as wesCtrl" ng-init="wesCtrl.init(vm.active.section)">
  <div ng-repeat="mEntry in wesCtrl.mEntries">
    <div ng-include="'/modules/cvs/client/views/entries/work-experience.entry.view.html'">
      {% block content %}{% endblock %}
    </div>
  </div>
  <button type="submit" class="btn btn-info" aria-label="Create new entry" ng-click="wesCtrl.addMEntry()">
  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New entry
  </button>
  <!-- HTML -->
  <a href="#" data-toggle="tooltip" title="Ein bisschen Tooltip-Text!">Mauszeiger hier drüber</a>

  <!-- Generiertes Markup -->
  <div class="tooltip top" role="tooltip">
    <div class="tooltip-arrow"></div>
    <div class="tooltip-inner">
      Ein bisschen Tooltip-Text!
    </div>
  </div>
</section>
