<div ng-controller="WorkExperienceSectionCtrl">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="header-clickable panel-title" editable-text="currentSection.name">{{currentSection.name}}</h4>
    </div>
    <div class = "panel-body">
      <div ng-repeat="entry in currentSection.content.entries">
        <div ng-include="'/modules/cvs/client/views/entries/work-experience.entry.view.html'">
          {% block content %}{% endblock %}
      	</div>
      </div>
      <p align="left">
        <button type="submit" class="btn btn-success" aria-label="Create new entry" ng-click="currentSection.content.addEntry()">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New entry
        </button>
      </p>
    </div>
  </div>
</div>
