<!DOCTYPE html>
<html>
	<body>
		<strong>
			<section>
				<div class="page-header">
					<h1>{{vm.cv._id ? 'Edit CV' : 'New CV'}}</h1>
				</div>
				<div class="btn-toolbar">
					<button type="button" class="btn btn-default">Save</button>
					<button type="button" class="btn btn-default">Preview</button>
					<button type="button" class="btn btn-primary btn-space">Download</button>
					<button type="button" class="btn btn-info">Need help?</button>
				</div>
				<div class="container-fluid">
					<div class="row content">
						<div class="col-md-4 sidenav">
							<h4>Section Management</h4>
							<hr>
							<ul class="nav nav-pills nav-stacked">
								<li>
									<a href="#section1">Personal Details</a>
								</li>
								<li>
									<a href="#section2">Personal Statement</a>
								</li>
								<li class="active">
									<a href="#section3">Work Experience</a>
								</li>
								<li>
									<a href="#section4">Education</a>
								</li>
								<li>
									<a href="#section5">Hobbies and Interests</a>
								</li>
								<li>
									<a href="#section6">References</a>
								</li>
							</ul>
							<p align="left">
								<div class="btn-toolbar">
									<button type="button" class="btn btn-default">Move down</button>
									<button type="button" class="btn btn-default">Move up</button>
									<button type="button" class="btn btn-danger">Remove section</button>
								</div>
							</p>
							<br>
							<h4>Custom Sections</h4>
							<hr>
							<p align="left">
                <form>
                  <input type="text" class="form-control" placeholder="Enter desired section name">
                  <br>
                  <button type="submit" class="btn btn-success">Create new section</button>
                </form>
							</p>
							
						</div>
						<div class="col-md-8" ng-include="'/modules/cvs/client/views/sections/work-experience.section.view.html'">
              {% block content %}{% endblock %}
						</div>
					</div>
				</div>
			</section>
		</strong>
	</body>
</html>