<section>
  <div class="page-header">
    <h1>CVs</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="cv in cvs" ui-sref="cvs.edit({ cvId: cv._id })" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="cv.created | date:'mediumDate'"></span>
        by
        <span ng-if="cv.user" ng-bind="cv.user.displayName"></span>
        <span ng-if="!cv.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="cv.title"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="cvs.$resolved && !cvs.length">
    No CVs yet, why don't you <a ui-sref="cvs.create">create one</a>?
  </div>
</section>
